@import '~bootstrap/scss/bootstrap';

body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

#content{
  margin-top: 2rem;
}

form {
  margin-bottom: 2rem;
}

.details {
  margin-top: -60px;
}

.card-img-top {
  height: 46vh;
  object-fit: cover;
}

.icon {
  position: relative;
  top: -13px;
  left: 202px;
  border-radius: 50%;
  width: 100px;
}
